body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#gameArea {
    width: 600px;
    height: 400px;
    border: 2px solid black;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    background-image: url('https://www.shutterstock.com/image-illustration/summer-forest-scene-glade-600nw-2325634191.jpg');
    background-size: cover;
}

.bee {
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s;
}

.bee img {
    width: 100%;
    height: 100%;
}
